/*googleMaps.css*/

html, body { height: 100%; margin: 0; padding: 0; }

/*#map { height: 100%; }*/


.myMap {
    display:inline-block;
    height:100%;
    width:100%;
    
    border:3px solid green;
    
    border-bottom-right-radius:8px;
    border-bottom-left-radius:8px;

    margin:auto;
}


.search {
    width:100%;
    border:3px solid green;

    border-top-right-radius:8px;
    border-top-left-radius:8px;
}

.myContainer {
    position:relative;
    /*set to full screen on mobile*/
    width:60vh;
    height:80vh;
}

.infoBox {
    text-align:center;
    display:inline-block;

    position:absolute;
    padding-top:1em;
    height:40%;
    width:98%;
    background-color:beige;
    top:+58vh; 
    left:.5vw; 
    border-radius:8px;
    border:1px solid gray;
}

.autoMargin {
     margin:auto; 
}

.infoIcon {
    /*set icon sizes*/
     width: 60px;
    height: 60px;
    border: 1px solid #73AD21;
    border-radius:5px;
    padding:.3em;


}