/*googleMaps.css*/

html, body { height: 100%; margin: 0; padding: 0; }

.setSize {
   position:absolute;
    /*1334x750*/
    min-height:1334px;
    max-height:1334px;
    min-width:750px;
    max-width:750px;
}
/*#map { height: 100%; }*/


.myMap {
    position:relative;
    display:inline-block;
    height:80%;
    width:100%;
    
    border:3px solid green;
    
    border-bottom-right-radius:8px;
    border-bottom-left-radius:8px;

    margin:auto;
}


.search {
    width:100%;
    border:3px solid green;

    border-top-right-radius:8px;
    border-top-left-radius:8px;
}

.myContainer {
    position:relative;
    /*set to full screen on mobile*/
    width:100%;
    height:100%;
}

.infoBox {
    
   /* display:inline-block;*/
    position:absolute;
    padding:1em;
    height:25%;
    width:98%;
    background-color:rgba(245,245,220,0.85);
  
    top:+58%; 
    left:1%; 
    border-radius:8px;
    border:1px solid gray;
}

.infoButton {
    text-align:center;
    font-size:110%;
    font-style:bold;
    margin-left:15%;
    width:80%;
    height:60%;
    border-radius:5px;
}

.autoMargin {
     /*margin:auto; */
}

.topLeftInfoIcon {
    position:relative;
    display:inline-block;
    
}

.infoBoxTitle {
    text-align:center;
    float:right;
    height:100px;
    width:84%;
    margin:auto;
    padding-top:10px;
    border: 1px solid #73AD21;

    border-radius:5px;
}

.infoBoxAddress {
    font-size:160%;
    color:gray;

}

.infoBoxPrice {
    font-size:200%;
    color:gray;
}

.infoIcon {
    /*set icon sizes*/
    display:inline-block;
     width: 100px;
    height: 100px;
    border: 1px solid #73AD21;
    border-radius:5px;
    padding:.3em;
}