/*googleMaps.css*/

html, body { height: 100%; margin: 0; padding: 0; }

/*#map { height: 100%; }*/


.myMap {
    display:inline-block;
    height:100%;
    width:100%;
    
    border:3px solid green;
    
    border-bottom-right-radius:8px;
    border-bottom-left-radius:8px;

    margin:auto;
}


.fart {
    width:100%;
    border:3px solid green;

    border-top-right-radius:8px;
    border-top-left-radius:8px;
}

.myContainer {
    width:60vh;
    height:80vh;
}