<!DOCTYPE html>
<html ng-app="googleMap">
  <head>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
     <script 
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5ylZNoESDoX9aOsHGMwc-91sK-YpfzQg">
    </script>
      

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="googleMaps.css">
  
      <!--<script type="text/javascript" src="lodash.js"></script>
      

    <script type="text/javascript" src="angular-google-maps.js"></script>
      <script type="text/javascript" src="angular-simple-logger.js"></script>
     
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/async/1.5.2/async.js"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
     <script type = "text/javascript" src="sampleHouses.js"></script>
     <script type="text/javascript" src="testing.js"></script>
        
    
  </head>
    
  <body ng-controller="appController" ng-click="bodyClick()" class="setSize">


  <div class="myContainer">








                  

      <div class="container-fluid search myNavBar">

        <ul class="nav nav-tabs">
             <li role="presentation" class="spacer" ><a> <span class="glyphicon glyphicon-home" aria-hidden="true"></span> </a></li>
              <li role="presentation" class="spacer"><a data-toggle="modal" data-target="#myModal"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span> </a></li>
              <li role="presentation" class="spacer"><a> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> </a></li>
              <li role="presentation" class="spacer"><a> <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> </a></li>
        </ul>
<!---------------------------------->
      </div>
              

              <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Enter Address or City</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">

                              <input ng-model="searchCity" type="text" class="form-control" placeholder="Search">
                         </div>  <!--end form group-->
                    </div><!--end modal body-->
                    
                    <div class="modal-footer">
                        
                        <button ng-click="consoleCity()" type="submit" data-dismiss="modal" class="btn btn-default">Search</button>
                    </div>
                  </div><!--modal content-->
                </div>

            

               <!-- <div class="form-group">
                  <input ng-model="searchCity" type="text" class="form-control" placeholder="Search">
               </div>  -->

               <!--end form group-->
             <!--  <button ng-click="consoleCity()" type="submit" class="btn btn-default">Submit</button> -->

          </form>
      </div> <!--end header box-->

         <div id="map" class="myMap"></div>

      <div class="autoMargin">
      <!---add licck event to catch event before bubbling up-->
        <div class="infoBox" ng-show="infoActive" ng-click="stopPropagation()">

          <div>
            <div class="topLeftInfoIcon"><img src='{{iconPath}}' class="infoIcon"/></div>
        
          <div class="infoBoxTitle">
            <span class="infoBoxPrice"><strong>${{housePointer["List Price"]}}
            </strong></span><br><strong class="infoBoxAddress">{{addressString}}</strong>

          </div><!---end box title-->
        </div> <!--end infobox-->
      </div>

      </div> <!--end autoMargin-->

       <!--{{searchCity}}       we don't need this to debug anymore

        <button ng-click="newCenter()">Center</button>-->
 
      
  </div> <!--end screen myContainer-->

  </body>
</html>